

ul{
    list-style-type: circle;  /* none, disc, circle, squre */

    /* list-style-image: url('/images/list_style.png'); */

}

ol{
    list-style-type: lower-roman; /* decimal, decimal-leading-zero, lower-alpha, upper-alpha, lower-roman, upper-roman*/
}

.description{
    list-style-type: disc;
    list-style-position: inside;

    /* combined above  */
    list-style: inside circle;
}

li{
    margin: 10px
}


table{
    width: 300px;
    margin: auto;  /* move to center*/
    border-spacing: 5px;
    border-collapse: collapse;  /* collapse/separate */ 
}

th{
    text-transform: uppercase;
    text-align: left;
    border-bottom: 2px solid gray;
    padding: 10px;
}

td{
    padding: 10px;
    border: 1px solid black;
}

.amount{
    text-align: right;
}

tr:nth-child(even){
    background-color: gray;
}